PORT=port
COIN_ID=coin_id_on_coingecko
CURRENCY=usd
HEARTBEAT_INTERVAL=60 // in seconds

USE_MINIO=false
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=bucket_name

ANALYTICS_API_URL=url_to_analytics_function